#box{
  width: 376px;
  height: 668px;
  padding: 1px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#_1head{
  width: 372px;
  height: 110px;
  padding: 0;
  margin: 0;
}
#_1headfirst{
  text-align: center;
  margin: 5px;
}
#_1headfirstbutt{
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: small;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#_1headsecond{
  width: 371.5px;
  height: 65px;
}
#_1headsecondbox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#_1headseconditem1{
  text-align: center;
  margin: 0 auto;
}
#_1headseconditem2{
  text-align: center;
  margin: 0 auto;
}
#_1headseconditem3{
  text-align: center;
  margin: 0 auto;
}

#_1body{
  font-family: 'Noto Serif KR', serif;
  width: 375px;
  height: 480px;
  margin: 0 auto;
}
#_1bodybox0{
  display: inline-block;
  width: 372px;
  font-size: x-small;
  text-align: center;

}
#_1bodybox0item{
  text-align: center;
}
#_1bodybox1{
  display: none;
  width: 372px;
  text-align: center;
}
#_1bodybox2{
  display: none;
  width: 372px;
  text-align: center;
}
#_1bodybox3{
  display: none;
  width: 372px;
  text-align: center;
}
#_1foot{
  border: 1px lightgray solid;
  border-radius: 10px;
  width: 372px;
  height: 67px;
}
