
#box{
  width: 750px;
  height: 1334px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#_1head{
  width: 750px;
  height: 220px;
  padding: 0;
  margin: 0;
}
#_1headfirst{
  text-align: center;
  margin: 5px;
}
#_1headfirstbutt{
  display: inline-block;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: xx-large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#_1headfirstbutt2{
  display: none;

  background: #E55D87;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: xx-large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#_1headsecond{
  width: 749px;
  height: 118px;
}
#_1headsecondbox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: xx-large;
}
#_1headseconditem1{
  text-align: center;
  margin: 0 auto;
}
#_1headseconditem2{
  text-align: center;
  margin: 0 auto;
}
#_1headseconditem3{
  text-align: center;
  margin: 0 auto;
}

#_1body{
  font-family: 'Noto Serif KR', serif;
  width: 750px;
  height: 1000px;
  margin: 0 auto;
}
#_1bodybox0{
  display: inline-block;
  padding: 30px;
  width: 750px;
  height: 1000px;
  text-align: center;
}
#_1bodybox0item{
  text-align: center;
  font-size: x-large;
  height: 600px;
  line-height:180%;
  letter-spacing: 2px;
}
#_1bodybox1{
  margin-top: 0px;
  display: none;
  text-align: center;
  font-size: x-large;
  width: 750px;
  height: 1000px;
  line-height:180%;
  letter-spacing: 2px;
}
#_1bodybox2{
  margin-top: 0px;
  display: none;
  text-align: center;
  font-size: x-large;
  width: 750px;
  height: 1000px;
  line-height:180%;
  letter-spacing: 2px;
}
#_1bodybox3{
  margin-top: 0px;
  display: none;
  text-align: center;
  font-size: x-large;
  width: 750px;
  height: 1000px;
  line-height:180%;
  letter-spacing: 2px;
}
#_1bodybox4{

  margin-top: 0px;
  display: none;
  text-align: center;
  font-size: x-large;
  width: 750px;
  height: 1000px;
  line-height:180%;
  letter-spacing: 2px;
}
#_1foot1{
  display: inline-block;

  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  border-radius: 5px;
  color: white;
  font-size: xx-large;
  text-align: center;
  line-height:300%;
  letter-spacing: 2px;
  width: 750px;
  height: 100px;
}
#_1foot2{
  display: none;
  background: #E55D87;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 5px;
  color: white;
  font-size: xx-large;
  text-align: center;
  line-height:300%;
  letter-spacing: 2px;
  width: 750px;
  height: 100px;
}

#select{
  border: 1px lightgray solid;
  width: 700px;
  height: 300px;
}
#list{
  border: 1px lightgray solid;
  width: 700px;
  height: 100px;
}
#result{
  width: 700px;
  height: 400px;
  overflow: auto;
  margin: 0 auto;
}
.ui.red.button,.ui.orange.button,.ui.olive.button,.ui.green.button,.ui.brown.button,.ui.violet.button,.ui.yellow.button,.ui.pink.button,.ui.purple.button,.ui.blue.button{
  font-size: x-large;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

#detail{
  margin: 50px auto;
}
#reset2{
  color: white;

  font-size: small;
  padding-top: 10px;
  text-align: center;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
